@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}
h1{
    font-weight: 700!important;
    color: #00557D;
}
.head{
    width: 100%!important;
    height: 100px!important;
    border-style: solid;
    border-color: #00557D;
}

.btn-primary{
    background: #00557D!important;
    color: #fff!important;
}
.btn-primary:hover{
    background: #062e43!important;
    color: rgb(239, 225, 225)!important;
}
.btn-outline-primary{
    color: #00557D!important;
    border-style: solid!important;
    border-color: #00557D!important;
}
.btn-outline-primary:hover{
    color: #fff!important;
    border: none!important;
    background: #00557D!important;
}
.navigation{
    width: 100%!important;
    height: 100px;
    align-items: center;

}
button{
    margin-bottom: 2rem!important; 
    border-color: #00557D;
}
.sec1, .sec2{
    width: 100%!important;
}
#section-7 {
    padding-top: 80px;
  }
  
  #section-7 .talent1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../img/d6-img1.png");
    background-position: center;
    background-size: cover;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }
  
  #section-7 .talent2 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../img/d6-img2.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }
  
  #section-7 .talent3 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../img/d6-img3.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }
  
  #section-7 .talent4 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../img/d6-img4.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }
  
  #section-7 .talent5 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../img/d6-img5.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }
  
  #section-7 .talent6 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../img/d6-img6.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }
  
  #section-7 .talent7 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../img/d6-img7.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }
  
  #section-7 .talent8 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("../img/d6-img8.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }
  #section-7 .talent9 {
    height: 100%;
    width: 100%;
  }
  
  #section-7 .talents h4 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.25px;
    padding: 12px 8px;
  }